body{
  background-image: url('background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 2px dashed;
  background-color: aliceblue;
  position: relative;
}

.game .img-container{
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.game img {
  width: 100%;
  pointer-events: none;
}

.game .img-container.horizontal::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 10%;
  height: 5px;
  width: 80%;
  background-color: #fff;
}

.game .img-container.horizontal::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 10%;
  height: 5px;
  width: 80%;
  background-color: #fff;
}

.game .img-container.vertical::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 30%;
  width: 5px;
  height: 80%;
  background-color: #fff;
}

.game .img-container.vertical::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 60%;
  width: 5px;
  height: 80%;
  background-color: #fff;
}

.score-board{
  font-size: 25px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fe76b4;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
}

.game .animate{
  position: absolute;
  transition: .1s ease-out;
  background-color: #99cfff;
}

.game .animate.animateRow{
  width: 100% !important;
}

.game .animate.animateCol{
  height: 100% !important;
}